
<form method="post" action="/game/add">
        <label>Add Task</label>
        <input type="text" name="game" placeholder="Add Game">
        <input type="submit" value="Submit">
</form>


<%= title %>
<ul>
    <% games.forEach(function(game){ %>
        <li><%= game %></li>
    <% }) %>
</ul>
